
<% if current_user %>
  <%= current_user.email %> <br>
  <%= link_to 'Logout', '/logout' %>
<% else %>
  <%= link_to 'Home', '/' %>
<% end %>

<%= form_for :link do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :url %>
  <%= f.submit 'Submit'%>
<% end %>

<div>
  <h3>Links</h3>
  <% current_user.links.each do |link| %>
    <ul>
      <li>
        <h4><%= link.title %></h4>
        <% if link.read %>
          <h5><s><%= link.url %></s></h5>
          <%= link_to 'Mark as Unread', edit_link_path(link) %>
        <% else %>
          <h5><%= link.url %></h5>
          <%= link_to 'Mark as Read', edit_link_path(link) %>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>